---
name: Documentation Linting
on:
  pull_request:
    types: ['opened', 'synchronize']
    paths:
      - 'docs/**'
      - '.github/workflows/**'

jobs:
  go-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.go-version.outputs.version }}
    steps:
      - uses: actions/checkout@v2

      - id: go-version
        run: echo "::set-output name=version::$(cat ./.go-version)"

  docs-lint:
    needs: go-version
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '${{ needs.go-version.outputs.version }}'
      - run: bash scripts/gogetcookie.sh
      - run: make tools
      - run: make docs-lint
